<div class = "center">
<button mat-raised-button color="accent" (click)="navigateToSearchPage()">Back to search page</button>
<mat-form-field>
    <mat-label>Author Filter</mat-label>
    <mat-select [formControl]="authorFilterForm" (selectionChange)="filterAuthors()" multiple>
      <mat-option *ngFor="let author of authors" [value]="author">{{author}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="center">
<table mat-table [dataSource]="displayedBooks" class="mat-elevation-z8">

  <!-- thumbnail Column -->
  <ng-container matColumnDef="thumbnail">
    <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
    <td mat-cell *matCellDef="let element"> 
        <div *ngIf="element.smallImageLink; else elseBlock"> <img src="{{element.smallImageLink}}"> </div>
        <ng-template #elseBlock>No thumbnail available</ng-template>
    </td>
  </ng-container>

  <!-- title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}}</td>
  </ng-container>

  <!-- author Column -->
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> Author </th>
    <td mat-cell *matCellDef="let element">
      <ul>
        <li *ngFor="let authorName of element.authorsName">
        {{ authorName }}
        </li> 
      </ul> 
    </td>
  </ng-container>

  <!-- description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> <div [innerHTML]="element.smallDescription"></div> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="descriptionPopUp(row)"></tr>
</table>
</div>

